{% extends 'homesite/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <form action="{% url 'addstock' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                       <label for="example-email-input" class="col-2 col-form-label">Level</label>

                        <select name="level">
                                    <option value = "Cutting">Cutting</option>
                                </select>
                    </div>
                    <div class="form-group row">
                       <label  class="col-2 col-form-label">Fabric Type</label>

                        <select name="fabric_type" >
                            {% for f in fabric %}
                                <option value ="{{ f.fabric_name }}">{{ f.fabric_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group row">
                       <label class="col-2 col-form-label">Gloves Type</label>

                        <select name="glove_type" >
                            {% for c in cutting %}
                                <option value ="{{ c.cutting_type }}">{{ c.cutting_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Name</label>
                        <div class="col-10">
                            <input name='name' class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Quantity</label>
                        <div class="col-10">
                            <input name='quantity' class="form-control" type="number">
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

{% endblock %}
