{% extends 'homesite/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </div>

                </form>
                <h4>{{ error }}</h4>
            </div>
        </div>

    </div>
{% endblock %}