{% extends 'homesite/base.html' %}

{% block content %}
  <div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <form  method="get">
                    {{ filter.form.as_p }}
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Level</th>
            <th>Worker Name</th>
            <th>Rate</th>
            <th>Balance (Rs)</th>
        </tr>
        </thead>
        <tbody>
        {% for w in filter.qs %}
            <tr>
                <td>{{ w.level }}</td>
                <td>{{ w.name }}</td>
                <td>{{ w.rate }}</td>
                <td>{{ w.balance }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No data</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}